html {
  font-size: 18px;
}

body {
  margin: 0;
  background-color: #ecf0f1;
  overflow: hidden;
  font-family: 'Roboto','Helvetica Neue','Helvetica',sans-serif;
  color: #242424;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
}

main section {
  margin-bottom: 1rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: 300;
}

#pink .num {
  background-color: #C94992;
}

#yellow .num {
  background-color: #ECAC1D;
}

#green .num {
  background-color: #7DA325;
}

#blue .num {
  background-color: #59ABE0;
}

#rocket .num {
  background-color: #090A0A;
}

.card-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media all and (max-width: 500px) {
  .card-tracker {
    flex-direction: row;
  }
}

.card-tracker .color-group {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px 0;
}

@media all and (max-width: 500px) {
  .card-tracker .color-group {
    flex-direction: column;
  }
}

.card-tracker .color-group .num-group {
  display: flex;
  flex-direction: row;
  height: initial;
}

.card-tracker .color-group .num-group .num {
  flex: 1;
  color: #fff;
  text-align: center;
  height: 3em;
  line-height: 3em;
  min-width: 3em;
  margin: 6px;
  border-radius: 6px;
}

.card-tracker .color-group .num-group .num.inactive {
  background-color: #ecf0f1 !important;
  color: #7f8c8d !important;
}
