$red: #e74c3c;
$yellow: #f1c40f;
$green: #2ecc71;
$white: #ffffff;
$blue: #3498db;
$black: #242424;
$grey: #7f8c8d;
$light: #ecf0f1;

html {
	font-size: 18px;
}
body {
	margin: 0;
	background-color: $light;
	// background-color: #fff;
	overflow: hidden;
	font-family: 'Roboto','Helvetica Neue','Helvetica',sans-serif;
	color: $black;
}
main {
	display: flex;
	// flex-direction: row;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vw;
	height: 100%;
	width: 100%;
	section {
		// padding: 1rem;
		margin-bottom: 1rem;
	}
}
ul {
	padding: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
	font-weight: 300;
}

#red .num {
	background-color: #e74c3c;
}
#yellow .num {
	background-color: #f1c40f;
}
#green .num {
	background-color: #2ecc71;
}
#blue .num {
	background-color: #3498db;
}
#white .num {
	background-color: $white;
	color: $black !important;
}



.number-tracker {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	@media all and (max-width: 500px){
		flex-direction: row;
	}
	.color-group {
		flex: 1;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		// max-width: 200px;
		flex-wrap: wrap;
		margin: 5px 0;
		@media all and (max-width: 500px){
			flex-direction: column;
		}
		.num-group {
			display: flex;
			flex-direction: row;
			height: initial;

			.num {
				flex: 1;
				color: #fff;
				text-align: center;
				height: 2em;
				line-height: 2em;
				// width: 2em;
				min-width: 2em;
				margin: 4px;
				border-radius: 4px;
				&.inactive {
					background-color: $light !important;
					color: $grey !important;
				}
			}
		}
		
	}
}
	
	
#hint-tracker {
	position: relative;
	width: 100%;
	text-align: center;
	.mini-label {
		font-size: .8rem;
		font-weight: 300;
		color: $grey;
		
		margin: 0;
		// margin-bottom: 1em;
	}
	.content-row {
		display: flex;
		flex-direction: row;
		justify-content: stretch;
		align-items: stretch;
		font-size: 3rem;
		#hints {
			font-size: 1em;
			font-weight: 700;
			margin: 0;
			line-height: 1em;
			flex-basis: 1em;
			color: rgba(0,0,0,0.7);
		}
		.hint-control {
			// position: absolute;
			flex: 1;
			// top: 0;
			// bottom: 0;
			// width: 50%;
			// height: 100%;
			// display: inline-block;
			color: #95a5a6;
			font-weight: 400;
			font-size: .5em;
			line-height: 2em;
			padding: 0 1rem;
			transition: color 400ms;
			&:hover {
				color: $black;
			}
			&#minus-hint {
				// left: 0;
				// outline: 1px solid red;
				text-align: right;
			}
			&#add-hint {
				// right: 0;
				// outline: 1px solid green;
				text-align: left;
			}
		}
	}
}

#reset {
	margin-top: 1rem;
}